<header class="header">
  <a href="http://adalab.es/"><img class="header__img" src="./assets/images/adalab-logo-155x61.png" alt="Logo Adalab" title="Logotipo de Adalab"/></a>
  <nav class="header__nav">
    <ul class="header__nav__ul">
      <li class="header__nav__ul__li"><a class="header__nav__ul__li__link" href="https://www.medium.com/adalab" title="Ir a nuestro Medium">Blog</a></li>

      <li class="header__nav__ul__li"><a class="header__nav__ul__li__link" href="https://www.adalab.es/contacto" title="¡Escríbenos!">Contacto</a></li>
    </ul>
  </nav>
</header>
