.hero {
  margin-top: 125px;
  height: 100vh;
  background-image: url(../images/david-van-dijk-3LTht2nxd34-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -320px;

  @media all and (min-width: 768px) {
    background-position-x: 45px;
    transform: scale(1.2);
    margin-top: 200px;
    z-index: 0;
  }

  &__h1 {
    font-size: 30px;
    width: 161px;
    text-transform: capitalize;
    color: $text;
    font-weight: 700;
    position: absolute;
    top: 55%;
    padding-left: 20px;

    @media all and (min-width: 768px) {
      font-size: 60px;
      width: 322px;
      padding-left: 90px;
      top: 35%;
    }
  }
}
