.footer {
  height: 90px;
  background-color: $footer;
  width: 100vw;

  @media all and (min-width: 768px) {
    margin-top: 63px;
    width: 100%;
  }

  &__text {
    color: $copy;
    text-align: center;
    padding-top: 35px;

    &:hover {
      color: $darksea;
      opacity: 0.5;
    }
  }
}
