.header {
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background: $text;

  &__img {
    width: 154.5px;
    height: 60px;
    margin-top: 10px;
  }

  &__nav {
    padding-top: 10px;
    height: 42px;

    &__ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;

      &__li {
        padding-left: 15px;
        padding-right: 10px;
        text-transform: uppercase;
        transition: 1s ease color border;

        &__link {
          text-decoration: none;
          color: $menu;

          &:hover {
            color: $hover;
            border-bottom: 3px solid $hover;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
