.header {
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background: $text;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    z-index: 0;
  }

  &__img {
    width: 154.5px;
    height: 60px;
    margin-top: 10px;
    @media all and (min-width: 768px) {
      padding-left: 30px;
      padding-top: 10px;
    }
  }

  &__nav {
    padding-top: 10px;
    height: 42px;
    @media all and (min-width: 768px) {
      padding-right: 30px;
      padding-top: 40px;
    }

    &__ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;

      &__li {
        padding-left: 15px;
        padding-right: 10px;
        text-transform: uppercase;
        transition: 1s ease color border;

        &__link {
          text-decoration: none;
          color: $menu;

          &:hover {
            color: $hover;
            border-bottom: 3px solid $hover;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
